.nutrimentsData-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nutriment-box {
    display: flex;
    align-items: center;
    background-color: #fbfbfb;
    padding: 32px;
    border-radius: 5px;
    gap: 24px;

    @media (max-width: 1339px) {
        padding: 20px;
    }
    &_info {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .value {
            font-size: 20px;
            font-weight: 700;
            color: #282d30;
            margin: 0;
        }

        .label {
            font-size: 14px;
            color: #74798c;
            margin: 0;
        }
    }
}
