.scoreCharts-container {
    max-width: 258px;
    border-radius: 5px;
    position: relative;
    padding: 24px 30px;
    background-color: #fbfbfb;
    @media (max-width: 1339px) {
        padding: 20px;
    }
}
.scoreCharts-title {
    position: absolute;
    top: 24px;
    left: 30px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #20253a;
    @media (max-width: 1339px) {
        left: 24px;
    }
}
.scoreCharts-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    &_score {
        font-size: 26px;
        font-weight: 700;
        color: #282d30;
        margin-bottom: 5px;
        @media (max-width: 1339px) {
            font-size: 20px;
        }
    }
    &_text {
        font-size: 16px;
        color: #74798c;
        @media (max-width: 1339px) {
            font-size: 12px;
        }
    }
}
