@import "./../variables.scss";
.title {
    position: relative;
    top: 60px;
    left: 224px;
}
.title-name {
    font-size: $font-size-extra-big;
    &_persona {
        color: red;
    }
}
.title-objectif {
    margin-top: 40px;
}
