@import "./../variables";
.title-container {
    margin-bottom: 70px;
}
.title-name {
    font-size: $font-size-extra-big;
    &_persona {
        color: red;
    }
}
.title-objectif {
    margin-top: 40px;
}
