.scoreCharts-container {
    max-width: 258px;
    border-radius: 5px;
    position: relative;
    padding: 24px 30px;
    background-color: #fbfbfb;
}
.scoreCharts-title {
    position: absolute;
    top: 30px;
    left: 24px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #20253a;
}
.scoreCharts-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    &_score {
        font-size: 26px; // Ajuster
        font-weight: 700;
        color: #282d30; // Couleur du pourcentage
        margin-bottom: 5px; // Espace sous le pourcentage
    }
    &_text {
        font-size: 16px; // Ajuster
        color: #74798c;
    }
}
