$font-family: "Roboto", sans-serif;

$font-weight-extra-light: 100;
$font-weight-light: 300;
$font-weight-default: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$font-size-extra-light: 12px;
$font-size-light: 15px;
$font-size-default: 18px;
$font-size-medium: 20px;
$font-size-big: 24px;
$font-size-extra-big: 48px;
